In [38]:
import mysql.connector
import numpy as np

In [91]:
j=np.linspace(4,9,80)
seq=np.random.randn(80)
data=j+seq
for i in range(120,200): 
    if data[i-120]>10:
        data[i-120]=10
    q1="INSERT INTO `student_master` VALUES (1,216,'1700AA000"+str(i)+"',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,'\0',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,'\0','\0',NULL);"
    q2="INSERT INTO `srm_gradecard_issued` VALUES ('"+str(i+200)+"','1700AA000"+str(i)+"',1111,1,120,1,'pass','"+str(data[i-120])+"',NULL,'2018-02-17','2018-01-17');"
    print(q1)
    print(q2)

INSERT INTO `student_master` VALUES (1,216,'1700AA000120',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('320','1700AA000120',1111,1,120,1,'pass','3.697280357802323',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000121',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('321','1700AA000121',1111,1,120,1,'pass','4.278415981136562',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000122',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('322','1700AA000122',1111,1,120,1,'pass','2.106704380937372',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000123',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('323','1700AA000123',1111,1,120,1,'pass','3.668328265684737',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000124',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('324','1700AA000124',1111,1,120,1,'pass','3.870988050855741',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000125',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('325','1700AA000125',1111,1,120,1,'pass','3.5911286811229393',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000126',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('326','1700AA000126',1111,1,120,1,'pass','3.3820307569335673',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000127',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('327','1700AA000127',1111,1,120,1,'pass','4.763551797450046',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000128',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('328','1700AA000128',1111,1,120,1,'pass','3.674704260376708',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000129',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('329','1700AA000129',1111,1,120,1,'pass','5.610480658936689',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000130',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('330','1700AA000130',1111,1,120,1,'pass','4.483299255369721',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000131',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('331','1700AA000131',1111,1,120,1,'pass','6.562919473066059',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000132',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('332','1700AA000132',1111,1,120,1,'pass','4.836529175286347',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000133',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('333','1700AA000133',1111,1,120,1,'pass','4.3205406575891905',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000134',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('334','1700AA000134',1111,1,120,1,'pass','4.98470693409055',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000135',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('335','1700AA000135',1111,1,120,1,'pass','4.675482508822413',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000136',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('336','1700AA000136',1111,1,120,1,'pass','3.5932937512451475',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000137',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('337','1700AA000137',1111,1,120,1,'pass','4.6812129374194384',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000138',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('338','1700AA000138',1111,1,120,1,'pass','3.984821149408331',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000139',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('339','1700AA000139',1111,1,120,1,'pass','6.680880371762019',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000140',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('340','1700AA000140',1111,1,120,1,'pass','5.233460693200026',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000141',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('341','1700AA000141',1111,1,120,1,'pass','4.671885918463029',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000142',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('342','1700AA000142',1111,1,120,1,'pass','3.64839135149134',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000143',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('343','1700AA000143',1111,1,120,1,'pass','5.5675126328510345',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000144',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('344','1700AA000144',1111,1,120,1,'pass','5.355762829715329',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000145',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('345','1700AA000145',1111,1,120,1,'pass','5.623938345902455',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000146',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('346','1700AA000146',1111,1,120,1,'pass','4.745091386905738',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000147',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('347','1700AA000147',1111,1,120,1,'pass','6.639468712330235',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000148',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('348','1700AA000148',1111,1,120,1,'pass','6.722971616017637',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000149',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('349','1700AA000149',1111,1,120,1,'pass','6.286805993427261',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000150',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('350','1700AA000150',1111,1,120,1,'pass','5.691743295451306',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000151',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('351','1700AA000151',1111,1,120,1,'pass','5.252607918250064',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000152',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('352','1700AA000152',1111,1,120,1,'pass','4.843718843363353',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000153',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('353','1700AA000153',1111,1,120,1,'pass','6.3759767364395525',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000154',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);
INSERT INTO `srm_gradecard_issued` VALUES ('354','1700AA000154',1111,1,120,1,'pass','6.511023815939702',NULL,'2018-02-17','2018-01-17');
INSERT INTO `student_master` VALUES (1,216,'1700AA000155',1,1004,5,5,1,23,'testName','  ','ABC','1997-09-30','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN KANADIA ROAD','',323,9,1,'452016','','','','1234567890','1A/G1 JAI SHREE VILLA','SANCHAR NAGAR MAIN INDORE','',323,9,1,'123456',113,3,' ',NULL,0,'A',1,0,NULL,100,70,NULL,'abc@student.suas.ac.i','1234','1234',42,'2018-05-31',0,'2017-02-11 00:00:00',NULL,' ',' ',NULL);

In [86]:
np.random.randn(10)

array([ 0.55621431, -1.22197866, -0.7383687 , -0.12101449, -0.56680895,
       -1.45183659,  0.27874657, -1.78075405,  0.48409883, -0.99030428])

In [7]:
j=np.linspace(7.2,9.7,140)
len(j)

140

In [92]:
seq=np.random.randn(80)
j=np.linspace(50, 97.5, 80) 
data=j+seq 
for i in range(120, 200):
    if data[i-120]>100:
        data[i-120]=100
    q="INSERT INTO `student_academic_details` VALUES ('"+str(i+400)+"','1700AA000"+str(i)+"','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','"+str(data[i-120])+"','ENGLISH','\0',34,100,52,100,'Chemistry',58,100,'\0',NULL,NULL,NULL,NULL);"
    print(q)

INSERT INTO `student_academic_details` VALUES ('520','1700AA000120','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','51.098944145930375','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('521','1700AA000121','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','49.54205537732591','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('522','1700AA000122','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','52.667768062582574','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('523','1700AA000123','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','50.64426814089619','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('524','1700AA000124','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','53.284069155344284','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('525','1700AA000125','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','51.12130040952681','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('526','1700AA000126','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','52.26517692603262','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('527','1700AA000127','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','54.61732587893863','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('528','1700AA000128','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','55.44580612441628','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('529','1700AA000129','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','55.54568713867968','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('530','1700AA000130','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','56.406522799602996','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('531','1700AA000131','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','56.416358296324894','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('532','1700AA000132','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','57.848194943025206','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('533','1700AA000133','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','60.058401452544075','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('534','1700AA000134','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','59.24548856915292','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('535','1700AA000135','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','59.7186832703664','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('536','1700AA000136','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','59.80905267367051','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('537','1700AA000137','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','60.287476806899186','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('538','1700AA000138','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','60.35736314973364','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('539','1700AA000139','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','61.844154692565496','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('540','1700AA000140','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','60.7404541561185','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('541','1700AA000141','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','62.297180197102584','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('542','1700AA000142','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','62.17724574847583','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('543','1700AA000143','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','63.894815410589594','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('544','1700AA000144','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','66.52294229551585','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('545','1700AA000145','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','65.17709490986861','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('546','1700AA000146','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','65.97149542116068','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('547','1700AA000147','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','66.5162903812422','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('548','1700AA000148','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','68.00976987600883','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('549','1700AA000149','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','67.03987261039957','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('550','1700AA000150','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','66.63101195056585','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('551','1700AA000151','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','68.68131984254839','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('552','1700AA000152','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','69.05522121750599','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('553','1700AA000153','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','69.60822049718078','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('554','1700AA000154','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','69.780919157192','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('555','1700AA000155','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','72.20359727427508','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('556','1700AA000156','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','73.47713124039096','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('557','1700AA000157','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','69.36950072285697','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('558','1700AA000158','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','71.39156746233495','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('559','1700AA000159','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','74.63374852076038','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('560','1700AA000160','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','73.62059512540073','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('561','1700AA000161','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','71.96570954569646','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('562','1700AA000162','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','75.26419995850746','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('563','1700AA000163','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','75.31716258896257','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('564','1700AA000164','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','75.99899894166134','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('565','1700AA000165','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','76.00548364982636','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('566','1700AA000166','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','76.2928654570004','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('567','1700AA000167','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','77.95542691347546','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('568','1700AA000168','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','78.16526755570655','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('569','1700AA000169','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','77.77250287520889','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('570','1700AA000170','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','78.56749147013718','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('571','1700AA000171','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','81.89718930208652','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('572','1700AA000172','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','80.64578091263444','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('573','1700AA000173','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','81.67052104044808','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('574','1700AA000174','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','83.05569462148128','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('575','1700AA000175','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','82.0777587705929','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('576','1700AA000176','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','84.16239987249072','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('577','1700AA000177','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','84.06803611344988','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('578','1700AA000178','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','85.11770672965473','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('579','1700AA000179','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','85.15774497615844','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('580','1700AA000180','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','85.02293986147421','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('581','1700AA000181','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','87.40407098022739','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('582','1700AA000182','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','86.67131343347842','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('583','1700AA000183','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','87.52637941427443','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);
INSERT INTO `student_academic_details` VALUES ('584','1700AA000184','HSC / 12th (Sci); or Equivalent','B.C.G. Public H.S. School Dewas','Madhya Pradesh Board of Secondary Education, Bhopal',2016,'Science','FIRST','86.99469342006724','ENGLISH',' ',34,100,52,100,'Chemistry',58,100,' ',NULL,NULL,NULL,NULL);

In [93]:
from django.db import connections
cursor = connections['studentanalytics'].cursor()

ImproperlyConfigured: Requested setting DATABASES, but settings are not configured. You must either define the environment variable DJANGO_SETTINGS_MODULE or call settings.configure() before accessing settings.

In [78]:
mycursor.execute("SELECT count(*) FROM srm_gradecard_issued srm, student_academic_details student, student_master sm WHERE sm.student_ID=srm.StudentID AND sm.student_ID=student.Student_ID AND srm.StudentID=student.Student_ID")

myresult = mycursor.fetchall()
mydb.commit()

for x in myresult:
    print(x)

(151,)